body {
  font-family: Trebuchet MS, roboto, ubuntu, sans-serif;
  font-weight: 100;
  color: #131722;
  margin-top: 1em;
}

.chart {
  width: 600px;
  height: 400px;
}

.charts-section {
  display: flex;
}

.ticket-section {
  margin-top: 50px;
  /* margin-bottom: 1em;
  border-radius: 6px;
  overflow: scroll;
  padding: 0.5em;
  box-shadow: 0 0 0 1px #e0e3eb;
  background-color: #fff;
  height: 100%;
  box-sizing: border-box; */
}

.header {
  /* text-align: center; */
  font-size: 30px;
  margin-left: 1em;
}

.chart-summary {
  align-content: center;
  align-items: center;
}

.chart-container {}

td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
